body {
	overflow: hidden;
}

.output {
	height: 480px;
	margin-bottom: 10px;
	overflow-y: auto;
	padding: 15px;
	box-shadow: 0px 0px 2px #00CCFF;
}

div.userbox {
	width: 185px;
	height: 100px;
	overflow-y: auto;
	position: fixed;
	border: 1px solid #00CCFF;
	box-shadow: 0px 0px 4px #0066FF;
	font-family: "微软雅黑";
}

div.chatbox {
	display: none;
	position: relative;
	margin-bottom: 15px;
	margin-left: 200px;
}

div.chatbox img.avatar {
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
}

div.chatbox div.body {
	font-family: "微软雅黑";
	margin-left: 60px;
	padding-right: 10px;
	width: auto;
	min-height: 60px;
	padding-bottom: 10px;
	clear: right;
}

div.chatbox div.name {
	padding-left: 10px;
	float: left;
	font-weight: bold;
}

div.chatbox div.date {
	float: right;
}

div.chatbox div.content {
	padding-top: 5px;
	padding-left: 25px;
	clear: right;
	word-wrap: break-word;
	word-break: normal;
}

div.chatbox div.content img.image {
	max-width: 100%;
	cursor: pointer;
}

i.tool {
	cursor: pointer;
	margin-top: 5px;
}

div.videoBox {
	position: relative;
	display: none;
}
div.videoBox img.videoThumbnail{
	min-width: 140px;
	min-height: 80px;
}

div.videoBox img.videoPlay {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	cursor: pointer;
}

div.videoWindow {
	position: fixed;
	top: 50px;
	right: -520px;
	width: 520px;
	height: 400px;
}

div.videoWindow div.videoTool {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 40px;
	background-color: #ffffff;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	box-shadow: 0px 0px 20px #666666;
}

div.videoWindow div.videoContainer {
	position: absolute;
	left: 40px;
	top: 0px;
	width: 480px;
	height: 400px;
	box-shadow: 0px 0px 20px #666666;
}

#closeVideo {
	cursor: pointer;
}

#moveVideo {
	cursor: move;
	margin-top: 20px;
}

#toggleVideo {
	margin-top: 20px;
	cursor: pointer;
}