.shadow {
	filter: progid:   DXImageTransform.Microsoft.Shadow(   color=   #666666,
		direction=   120, strength=   4 ); /*ie*/
	-moz-box-shadow: 2px 2px 12px #666666; /*firefox*/
	-webkit-box-shadow: 2px 2px 12px #666666; /*safari或chrome*/
	box-shadow: 2px 2px 12px #666666; /*opera或ie9*/
}