<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<!-- 用注解方式注入bean -->
<!-- 	<context:annotation-config /> -->
	<context:component-scan base-package="com.jinva" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:prop/config.properties</value>
		</property>
	</bean>

	<import resource="classpath:spring/jinva-spring.xml"/>

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">

		<property name="driverClassName" value="${driverClass}" />
		<property name="url" value="${jdbcUrl}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
		
		<property name="maxWait"            value="1000" />
        <property name="initialSize"        value="5" />
        <property name="maxActive"          value="20" />
        <property name="maxIdle"            value="5" />
        <property name="testWhileIdle"      value="true" />
        <property name="timeBetweenEvictionRunsMillis"  value="15000" />
        <property name="numTestsPerEvictionRun"         value="20" />
        <property name="validationQuery"    value="SELECT 1 FROM DUAL" />
        <property name="removeAbandoned"    value="true" />
        <property name="removeAbandonedTimeout"         value="180" />
	</bean>

	<!-- 数据库连接池 -->
<!-- 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" -->
<!-- 		destroy-method="close"> -->

<!-- 		<property name="driverClass" value="${driverClass}" /> -->
<!-- 		<property name="jdbcUrl" value="${jdbcUrl}" /> -->
<!-- 		<property name="user" value="${user}" /> -->
<!-- 		<property name="password" value="${password}" /> -->
		
<!-- 		<property name="minPoolSize"><value>1</value></property>  -->
<!--         <property name="maxPoolSize"><value>10</value></property>  -->
<!--         <property name="maxIdleTime"><value>28</value></property>  -->
<!--         <property name="acquireIncrement"><value>2</value></property>  -->
<!--         <property name="maxStatements"><value>0</value></property>  -->
<!--         <property name="initialPoolSize"><value>2</value></property>  -->
<!--         <property name="idleConnectionTestPeriod"><value>9</value></property>  -->
<!--         <property name="acquireRetryAttempts"><value>30</value></property>  -->
<!--         <property name="acquireRetryDelay"><value>100</value></property>  -->
<!--         <property name="breakAfterAcquireFailure"><value>false</value></property>  -->
<!--         <property name="testConnectionOnCheckout"><value>false</value></property>  -->
<!-- 	</bean> -->

	<!-- hibernate sessionFactory 创建 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.jinva.bean.datamodel.Dish</value>
				<value>com.jinva.bean.datamodel.DishParent</value>
				<value>com.jinva.bean.datamodel.Group</value>
				<value>com.jinva.bean.datamodel.GroupProvider</value>
				<value>com.jinva.bean.datamodel.Message</value>
				<value>com.jinva.bean.datamodel.News</value>
				<value>com.jinva.bean.datamodel.Order</value>
				<value>com.jinva.bean.datamodel.OrderProvider</value>
				<value>com.jinva.bean.datamodel.Restaurant</value>
				<value>com.jinva.bean.datamodel.Topic</value>
				<value>com.jinva.bean.datamodel.User</value>
				<value>com.jinva.bean.datamodel.UserGroup</value>
			</list>
		</property>
		<!--这里不使用packagesToScan智能扫描所有实体类， 因为目前 这种方法会造成hibernateTemplete.find方法参数混乱的BUG
		<property name="packagesToScan">
			<list>
				<value>com.jinva.bean.datamodel.*</value>
			</list>
		</property>-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
<!-- 				<property name="connection.autocommit">false</property> -->
			</props>
		</property>
	</bean>


	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!-- 事物配置 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="saveOrUpdate*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(* com.jinva.service..*.*(..))"
			id="myPointcut" />

		<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut" />
	</aop:config>


</beans>