<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
  
	<display-name>jinva</display-name>
  
	<!--  Spring 配置 Web整合 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.jinva.util.InitListener</listener-class>
	</listener>

	<distributable/>
	
	<filter>  
		<filter-name>StrutsPrepareFilter</filter-name>  
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>  
	</filter>  
	<filter-mapping>  
		<filter-name>StrutsPrepareFilter</filter-name>  
		<url-pattern>/*</url-pattern>  
	</filter-mapping> 

	<!-- 定义AjaxAnywhere过滤器 -->
	<filter>
        <filter-name>AjaxAnywhere</filter-name>
        <filter-class>org.ajaxanywhere.AAFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AjaxAnywhere</filter-name>
        <url-pattern>/*</url-pattern> 
    </filter-mapping>
	
    
    <filter>  
		<filter-name>StrutsExecuteFilter</filter-name>  
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>  
	</filter>
	<filter-mapping>  
   		<filter-name>StrutsExecuteFilter</filter-name>  
		<url-pattern>/*</url-pattern>  
	</filter-mapping>  
	
	<!-- 在Web项目中 启用 Struts2 -->
<!-- 	<filter> -->
<!-- 		<filter-name>struts2</filter-name> -->
<!-- 		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>struts2</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

    
		<!-- 定义ActionContextCleanUP过滤器 -->
<!-- 	<filter> -->
<!-- 		<filter-name>struts-cleanup</filter-name> -->
<!-- 		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>struts-cleanup</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
<!--   <welcome-file-list> -->
<!--     <welcome-file>index.jsp</welcome-file> -->
<!--   </welcome-file-list> -->

<!-- 	<jsp-config>  -->
<!-- 		<taglib>  -->
<!-- 			<taglib-uri>/WEB-INF/tld/GroupButton.tld</taglib-uri>  -->
<!-- 			<taglib-location>/jinva</taglib-location>  -->
<!-- 		</taglib>  -->
<!-- 	</jsp-config> -->

</web-app>